* {
  background-color: #041420;
}
.main-page {
  display: flex;
  flex-direction: row;
}
.base {
  background: rgba(36, 52, 229, 1);
  width: 458px;
  height: 40rem;
  text-align: center;
  padding: 10%;
}
h1 {
  background: rgba(36, 52, 229, 1);
  color: rgba(255, 255, 255, 1);
}
